<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>co.edu.sena.ViaExpress.negocio.servlets.UsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>prueba</servlet-name>
        <servlet-class>co.edu.sena.ViaExpress.negocio.servlets.prueba</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>co.edu.sena.ViaExpress.negocio.servlets.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TipoVehiculoServlet</servlet-name>
        <servlet-class>co.edu.sena.ViaExpress.negocio.servlets.TipoVehiculoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorRol</servlet-name>
        <servlet-class>co.edu.sena.ViaExpress.negocio.servlets.ControladorRol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TipoDocumentoServlet</servlet-name>
        <servlet-class>co.edu.sena.ViaExpress.negocio.servlets.TipoDocumentoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TipoMercanciaServlet</servlet-name>
        <servlet-class>co.edu.sena.ViaExpress.negocio.servlets.TipoMercanciaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controlLogin</servlet-name>
        <servlet-class>co.edu.sena.ViaExpress.negocio.servlets.controlLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroUsuario</servlet-name>
        <servlet-class>co.edu.sena.ViaExpress.negocio.servlets.RegistroUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crearEnvioServlet</servlet-name>
        <servlet-class>co.edu.sena.ViaExpress.negocio.servlets.crearEnvioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuevoVehiculoServlet</servlet-name>
        <servlet-class>co.edu.sena.ViaExpress.negocio.servlets.NuevoVehiculoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewAjax</servlet-name>
        <servlet-class>co.edu.sena.ViaExpress.negocio.servlets.NewAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CambioEstadoServlet</servlet-name>
        <servlet-class>co.edu.sena.ViaExpress.negocio.servlets.CambioEstadoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/UsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>prueba</servlet-name>
        <url-pattern>/prueba</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TipoVehiculoServlet</servlet-name>
        <url-pattern>/TipoVehiculoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorRol</servlet-name>
        <url-pattern>/ControladorRol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TipoDocumentoServlet</servlet-name>
        <url-pattern>/TipoDocumentoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TipoMercanciaServlet</servlet-name>
        <url-pattern>/TipoMercanciaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controlLogin</servlet-name>
        <url-pattern>/controlLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroUsuario</servlet-name>
        <url-pattern>/RegistroUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crearEnvioServlet</servlet-name>
        <url-pattern>/crearEnvioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuevoVehiculoServlet</servlet-name>
        <url-pattern>/NuevoVehiculoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewAjax</servlet-name>
        <url-pattern>/NewAjax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CambioEstadoServlet</servlet-name>
        <url-pattern>/CambioEstadoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
